@import "base";

body {
    background-color: $background-color;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: $main-header-color;
        border-radius: 10px;
    }

    @include small {
        position: fixed;
    }
}

.main-container {
    height: 750px;
    width: 1350px;

    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 10% 90%;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "sidebar content";

    font-family: 'Lato', sans-serif;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    @include extra-large {
        height: 100vh;
        width: 100vw;
    }

    @include small {
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;

        grid-template-areas:
            "header"
            "content";

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.sidebar-container {
    grid-area: sidebar;
    background-color: $sidebar-color;
    color: $sidebar-font-color;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include small {
        @include remove-borders();

        grid-area: content;
        translate: (-100%);
        z-index: 2;
        transition: 0.3s;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    grid-area: content;

    @include small {
        @include remove-borders();
    }
}

.login-container {
    font-family: "Lata", sans-serif;
    @include flex-center();
    height: 100vh;
    width: 100vw;

    .login {
        margin-bottom: 5rem;
        background-color: $main-header-color;
        @include flex-center();
        flex-direction: column;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        h1 {
            color: $main-header-font-color;
        }

        form {
            @include flex-center();
            flex-direction: column;
        }

        i {
            position: absolute;
            transform: translate(40%, 90%);
            fill: #888;

            @include small {
                transform: translate(40%, 80%) scale(0.8);
            }
        }

        input {
            background-color: $input-background-color;
            color: $chat-font-color;
            display: flex;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 500px;
            border-radius: 10px;
            border: none;
            outline: none;
            padding: 0.6rem 2.6rem;
            font-size: 1.4rem;
            margin: 1rem 0;

            @include small {
                width: 85vw;
                font-size: 1rem;
            }
        }

        button {
            background-color: $popup-hover-color;
            border: none;
            outline: none;
            border-radius: 10px;
            color: $chat-font-color;
            margin: 1rem;
            padding: 14px 64px;
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            cursor: pointer;
            transition: opacity 0.2s;

            @include small {
                font-size: 1.2rem;
                padding: 14px 48px;
                cursor: default;
            }
        }

        button:hover {
            opacity: 0.9;
        }

        p {
            color: $main-header-font-color;
        }

        a {
            text-decoration: none;
            color: $main-header-font-color;
        }

        @include small {
            box-shadow: none;
        }
    }

    @include small {
        background-color: $main-header-color;
    }
}

.main-header {
    grid-area: header;
    background-color: $main-header-color;
    color: $main-header-font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    h2 {
        margin-right: auto;
    }

    @include small {
        @include remove-borders();

        h1 {
            display: none
        }

        h2 {
            font-size: 1.2rem;
        }
    }
}

.contact-header {
    min-height: 4em;
    background-color: $contact-header-color;
    color: $chat-font-color;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);

    @include small {
        h2 {
            font-size: 1.2rem;
        }
    }
}

.search {
    min-height: 4rem;
    flex-shrink: 0;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.55);

    form {
        @include flex-center();
    }

    input {
        border: none;
        background-color: $main-header-color;
        color: $chat-font-color;
        border-radius: 10px;
        height: 1.8em;
        margin: 0.8rem;
        padding-left: 1rem;

        font-size: 1.2rem;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    gap: 1rem;
    background-color: $contact-header-color;

    @include small {
        gap: 0.7rem;
    }
}

.sidebar-chat {
    display: flex;
    padding: 0.8rem 0.2rem;
    cursor: pointer;
    width: 90%;
    border-radius: 5px;

    span {
        margin: 0 0.5rem;
        white-space: nowrap;
        overflow: hidden;
    }

    .username {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .last-message {
        font-style: italic;
    }

    @include large {
        .username {
            font-size: 1.2rem;
        }

        .last-message {
            font-size: 0.9rem;
        }
    }
}

.sidebar-chat:hover {
    background-color: $sidebar-hover-color;
    color: $sidebar-hover-font-color;
}

.message {
    display: flex;
    word-break: break-word;
    font-size: 1.2rem;
    max-width: 80%;

    p {
        align-self: center;
        max-width: max-content;
        padding: 0.6rem;
        background-color: #efd5de;
        border-radius: 0 15px 15px 15px;

        background-color: $main-header-color;
        color: $sidebar-hover-font-color;
    }

    @include small {
        font-size: 1rem;
    }
}

.sender {
    margin-left: auto;
    flex-direction: row-reverse;
    margin-right: 0.5rem;

    .small-picture {
        display: none;
    }

    p {
        padding: 0.6rem;
        margin-right: 0;
        max-width: max-content;
        background-color: #c2ebff;
        border-radius: 15px 0 15px 15px;
        background-color: $sidebar-font-color;
        color: $popup-color;
    }
}

.menu-button {
    background: none;
    border: none;
    fill: white;
    cursor: pointer;
    display: none;

    @include small {
        display: block;
    }
}

// DELETE MAYBE
.logout-button {
    background: none;
    border: none;
    fill: white;

    cursor: pointer;
}

.big-picture {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    object-fit: cover;

    @include small {
        height: 3rem;
        width: 3rem;
    }
}

.small-picture {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0.5rem;
}

.input {
    background-color: $contact-header-color;

    form {
        display: flex;
    }

    input {
        background-color: $input-background-color;
        color: $chat-font-color;
        flex-grow: 1;
        border: none;
        border-radius: 10px;
        height: 2.3em;
        margin: 1rem 0 1rem 1rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        align-self: center;

        -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.12);
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        @include flex-center();
        padding: 0;
        margin: 0.5rem;
        align-self: center;
        fill: $sidebar-font-color;
        height: 30px;
        width: 30px;
    }
}

.show {
    translate: (0);
}

.dropdown-menu {
    position: absolute;
    background-color: $popup-color;
    padding: 0.8rem;
    // width: 200px;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: 0.3s;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.65);

    ul {
        list-style: none;

        li {
            cursor: pointer;
            padding: 0.4rem;
            border-radius: 3px;
        }

        li:hover {
            color: $chat-font-color;
            background-color: $popup-hover-color;
        }
    }
}

.dropdown-menu:after {
    position: absolute;
    top: -9px;
    left: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $popup-color;
    content: '';
}

.dropdown {
    cursor: pointer;
}

.visible {
    visibility: visible;
    transform: translateY(20%);
    opacity: 1;
}

.hidden {
    visibility: hidden;
    transform: translateY(-20%);
    opacity: 0;
}

.notification {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    background-color: $main-header-color;
    color: $main-header-font-color;
    transition: 0.3s;

    @include small {
        font-weight: bold;
    }
}

.invisible {
    transition: none;
    visibility: hidden;
}